@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

main form {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main form input,
main form button {
  width: 100%;
  padding: 10px;
  margin: 0 0 10px 0;
  border: none;
  border-radius: 30px;
  background: rgb(226, 226, 226);
  color: rgb(34, 34, 34);
  font-family: "Roboto", sans-serif;
}

main form input[type="submit"] {
  /* main form button { */
  cursor: pointer;
  background: rgb(36, 82, 207);
  color: #fff;
}
